NODE_ENV=development
PORT=3000

MONGODB_URI=mongodb://admin:password@localhost:27017/mobile_commerce?authSource=admin
MONGODB_PORT=27017

JWT_SECRET=change_this_secret_for_local_development
JWT_EXPIRES_IN=7d

CORS_ORIGIN=http://localhost:5173
